In [38]:
!pip install pandas
!pip install bs4

Requirement already satisfied: pandas in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\jaganath\anaconda3\envs\deep_learning_tut\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [3]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
all_tables=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [4]:
all_tables[17]

   Ecuador Match 35  Senegal
0      NaN   Report      NaN

In [5]:
all_tables[18]

   Netherlands Match 36  Qatar
0          NaN   Report    NaN

In [6]:
all_tables[25]

   Iran Match 34  United States
0   NaN   Report            NaN

In [7]:
all_tables[60]

   Cameroon Match 48  Brazil
0       NaN   Report     NaN

In [8]:
all_tables[67]

   South Korea Match 46  Portugal
0          NaN   Report       NaN

In [9]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [16]:
all_tables[19]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Iran,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,United States,0,0,0,0,0,0,0,0,NaN
3,4,Wales,0,0,0,0,0,0,0,0,NaN

In [17]:
dic_table={}
for letter,i in zip(alphabet,range(12,68,7)):
    df=all_tables[i]
    df.rename(columns={df.columns[1]:"Team"},inplace=True)
    df.pop("Qualification")
    dic_table[f"Group {letter}"]=df

In [20]:
dic_table["Group H"]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [21]:
with open("dict_table","wb") as output:
    pickle.dump(dic_table,output)